
nav {
    width: 220px;
    height: 100vh;
    background-color: #f3f4f6;
    padding: 20px;
    border-right: 3px solid #1e4ed8;
    
}

nav h3 {

    color: #1e4ed8;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 14px;
    letter-spacing: 1px;

}

nav div.profile {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
}

nav div.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

nav div.profile span {
    display: block;
    font-size: 12px;
}

/*Buttons*/

.sidebar-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px;
    text-decoration: none;
    color: black;
    border-radius: 6px;
    font-size: 14px;
    transition: background-color 0.2s ease;
}

/*hover*/
.sidebar-btn:hover{
    background-color: rgba(30, 78, 216, 0.1);
}

/* Active */
.sidebar-btn.active{
    background-color: rgba(30, 78, 216, 0.2);
    color: #1e4ed8;
    font-weight: 600;
}



/* ================================== RIGHT BAR STYLING ================================*/
.layout {
    display: flex;
}


.rightbar {
    width: 300px;
    height: 100vh;
    overflow-y: auto;
    border-left: 3px solid #1e4ed8;
    padding: 20px;
    gap: 25px;
    
}

/*section headings*/
.rightbar h3 {
    font-size: 14px;
    color: #1e4ed8;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

/* individual sections (cards)*/

.rightbar > div {
    background: #f3f4f6;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);

}

/* Comments styling */
.rightbar .comment {
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

.rightbar .entity {
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.rightbar .entity:hover{
    background-color: rgba(30, 78, 216, 0.1);
    border-radius: 8px;
}

.rightbar .comment img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}
 .rightbar .image-persona {
    display: flex;
    gap: 10px;
    align-items: center;
 }

.rightbar .divider{
    height: 1px;
    background-color: #1e4ed8;
    margin: 15px 0;
    border-radius: 1px;
}

 .rightbar .message {
    color: #555555;
    font-size: 12px;
 }

/* NOTIFICATIONS*/
.rightbar .notification-list li {
    color: #555555;
    font-size: 13px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.2s ease;
}

.rightbar .notification-list li::marker{
    color: #1e4ed8;  /*bullet color*/
}

.rightbar .notification-list li:hover {
    background-color: rgba(30, 78, 216, 0.1);
    border-radius: 8px;
}

.rightbar .notification-list{
    padding-left: 20px;  /*space for bullets*/
}

/*SYSTEM ALERTS*/
.rightbar .alert-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    margin-bottom: 10px;
    color: #b91c1c;   /*Red color for warning*/
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.rightbar .alert-item:hover{
    background-color: rgba(30, 78, 216, 0.1);
    border-radius: 8px;
}


/*=========================================TOP-BAR=========================================*/

.topbar {
    height: 60px;
    background-color: #ffffff;
    border-bottom: 1px solid #1e4ed8;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 20px;
}

.topbar-left,
.topbar-right {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: auto;
}


/*=========================Main Content Layout=================================*/
.main-content{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.page-content{
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
}


/*============================ Overview Page ====================================*/
.overview {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* section 1: grid*/
.stats-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

/* section 2: chart */
.chart-section {
    width: 100%;
}

/* section 3: table */
.table-section {
    width: 100%;
}

/* card styling */
.card {
    background: #f3f4f6;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

/* chart placeholder (temporary) */
.chart-placeholder {
    height: 200px;
    background: #f4f5f6;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

/* Table styling */
.overview-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #e5e7eb; /* Table bottom ===========================*/
}

th {
    font-size: 14px;
    color: #1e4ed8
}

.overview h2{
    color: #1e4ed8;
    font-size: 14px;
}

td{
    font-size: 13px;
    color: black;
}
/* ===================stats-section ================*/
.stat-card {
    cursor: pointer;
    transition: all 0.2s ease;
}

.stat-card:hover{
    background-color: rgba(30, 78, 216, 0.1);
    transform: translateY(-2px);
}

/*============================ Rooms Page ====================================*/
/*====== header section =====*/
.rooms-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

/*====== Right controls =====*/
.room-controls{
    display: flex;
    gap: 10px;
    align-items: center;
}

/*====== dropdowns =====*/
.control-select{
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid #e5e7eb;
}

/*====== Add button =====*/
.add-room-btn{
    background-color: #1e4ed8;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
}

/*====== Table =====*/
.table-section{
    width: 100%;
}

.rooms-table{
    
    border-collapse: collapse;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
}

.rooms-table th {
    text-align: left;
    padding: 12px;
    background: #f3f4f6;
}

.rooms-table td {
    padding: 12px;
    border-bottom: #e5e7eb;
}

/* hover effect */
.rooms-table tbody tr:hover {
    background: #f9fafb;
}

/*status colors */
.status.available {
    color: #16a34a;
    font-weight: 500;
}

.status.occupied {
    color: #dc2626;
    font-weight: 500;
}

.status.maintenance {
  color: #ca8a04;
  font-weight: 500;
}

/* Actions */
.action-btn {
    margin-right: 6px;
    padding: 4px 8px;
    border: none;
    background: #e5e7eb;
    border-radius: 4px;
    cursor: pointer;
}

.action-btn:hover {
  background: #d1d5db;
}

/*====== Form =====*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5); /* dark shadow background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-card {
  background: white;
  padding: 20px;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  animation: fadeIn 0.2s ease-in-out;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

@keyframes fadeIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}


/*==================================================Tenannts Page ==============================================*/
.tenants-page{
    padding: 20px;
}

.tenants-header{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 20px;
}

.tenant-controls{
    margin-left: auto;
    display: flex;
    gap: 10px;
}

/* search */
.search-input{
    flex: 1;
    max-width: 400px;
    padding: 10px 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
}

.search-input:focus{
    border-color: #4f46e5;
}

/*Drop down*/
.control-select{
    padding: 8px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* Add Button */
.add-tenant-button{
    background: #4f46e5;
    color: white;
    padding: 8px 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.add-tenant-button:hover{
    background: #4338ca;
}

/* TABLE */
.tenants-table{
    width: 100%;
    border-collapse: collapse;
    padding: 12px;
}

.tenants-table th{

    padding: 0px;
    text-align: center;
    background-color: #f3f4f6;
    

}

.tenants-table td{

    padding: 15px;
    border-bottom: #e5e7eb;
    text-align: center;
}

.tenants-table tbody tr:hover{
    background-color: #f9fafb;
}

/* STATTUS STYLING*/
.status.active {
    color: #16a34a;
    font-weight: 500;
}

.status.pending {
    color: red;
    font-weight: 500;
}

.status.checked_out {
    color: orange;
    font-weight: 500;
}


/*==================================================Payments Page ==============================================*/