
.Admin_profile{
  display: flex;
  align-items: center;
  gap: 10px;
}

.Admin_profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.Admin_profile div{
    display: flex;
    flex-direction: column;
}

/*side bar button*/
.sidebar-btn{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 10px;

    width: 100%;
    text-align: left;
    padding: 0px;
    color: #9ca3af;
}

.sidebar-btn:hover{
    background-color: rgba(30, 78, 216, 0.08);
}

.sidebar-btn.active{
    background-color: rgba(30, 78, 216, 0.16);
    color: #1e4ed8;
}

.sidebar-btn.active svg{
    color: #1e4ed8;
}

/*nav bar*/
nav{
    width: 240px;
    border-right: 1px solid #1e4ed8;
    height: 100vh;
}

