
nav {
    width: 220px;
    height: 100vh;
    background-color: #f3f4f6;
    padding: 20px;
    border-right: 1px solid #1e4ed8;
    
}

nav h3 {

    color: #1e4ed8;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 14px;
    letter-spacing: 1px;

}

nav div.profile {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
}

nav div.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

nav div.profile span {
    display: block;
    font-size: 12px;
}

button.sidebar-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    background: none;
    border: none;
    padding: 8px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.2s ease;
    
}

button.sidebar-btn:hover {
    background-color: #184ed8;
}